<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- above line is just for making your page look better, its copied from getbootstrap.com-->

<!--Using div below for taking the webpage details to center-->
<div class='container text-center'>
{% block content %}      

<h1>Employee Details</h1>

{% for emp in emp_details %}
    <strong>Employee ID: {{ emp.employee_id }}</strong>
    <ul>
        <li>Name: {{  emp.name }}</li>
        <li>Role: {{  emp.role }}</li>
        <li>Passowrd: {{  emp.password }}</li>
        <li>Email_id: {{  emp.email_id }}</li>
        <li>Gender: {{  emp.gender }}</li>
        <li>Age: {{  emp.age }}</li>
        <li>contact_info: {{  emp.contact_info }}</li>
    </ul>
    <br>

{% endfor %}

{% endblock %} 
</div>