<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- above line is just for making your page look better, its copied from getbootstrap.com-->

<!--Using div below for taking the webpage details to center-->
<div class='container text-center'>
<h3>Add Vaccine Details</h3>

<form method = "POST" action="">
    {% csrf_token %}
    {{ form }}
    

    <input type = "submit" name="Submit details">
</form>
<body>
    <button type="submit"><a href="/vaccination_drive/logout">Logout</a></button>
</body>
</div>
